@font-face {
  font-family: 'RobotoB';
  src: url("./styles/fonts/roboto/RobotoBold.ttf") format('truetype');
}

@font-face {
  font-family: 'RobotoR';
  src: url("./styles/fonts/roboto/RobotoRegular.ttf") format('truetype');
}

@font-face {
  font-family: 'RobotoI';
  src: url("./styles/fonts/roboto/RobotoItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'RobotoL';
  src: url("./styles/fonts/roboto/RobotoLight.ttf") format('truetype');
}
